In [2]:
import time
import pandas as pd
import numpy as np

In [5]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [6]:
df=pd.read_csv(CITY_DATA['chicago'])

In [7]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [8]:
df.rename(columns={"Unnamed: 0":"a"},inplace=True)
df.pop('a')

0         1423854
1          955915
2            9031
3          304487
4           45207
           ...
299995      64825
299996     695993
299997     159685
299998     564681
299999    1021247
Name: a, Length: 300000, dtype: int64

In [9]:
df.isnull().any()

Start Time       False
End Time         False
Trip Duration    False
Start Station    False
End Station      False
User Type        False
Gender            True
Birth Year        True
dtype: bool

In [10]:
df = df.dropna(subset=['Gender', 'Birth Year'])
df.isnull().any()

Start Time       False
End Time         False
Trip Duration    False
Start Station    False
End Station      False
User Type        False
Gender           False
Birth Year       False
dtype: bool

In [11]:
df['Start Time']=pd.to_datetime(df['Start Time'])
df['Month']=df['Start Time'].dt.month
df['WeekDay']=df['Start Time'].dt.dayofweek
df['Hour']=df['Start Time'].dt.hour
df['SE Station']=df['Start Station']+' and '+df['End Station']

In [12]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Month,WeekDay,Hour,SE Station
0,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,6,4,15,Wood St & Hubbard St and Damen Ave & Chicago Ave
1,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,5,3,18,Theater on the Lake and Sheffield Ave & Wavela...
2,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,2,8,May St & Taylor St and Wood St & Taylor St
3,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,3,0,13,Christiana Ave & Lawrence Ave and St. Louis Av...
4,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,1,14,Clark St & Randolph St and Desplaines St & Jac...

In [282]:
res=df.loc[(df['Month'] == 5) & (df['WeekDay']==6),['Hour']].mode()
res=str(res.iloc[0]['Hour'])
print('most common hour: {}'.format(res))

most common hour: 12

In [248]:
res=df.loc[(df['WeekDay']==5),['Month']].mode()
res=str(res.iloc[0]['Month'])
print('most common Month: {}'.format(res))

most common Month: 6

In [249]:
res=df.loc[(df['Month']==5),['WeekDay']].mode()
res=str(res.iloc[0]['WeekDay'])
print('most common day: {}'.format(res))

most common day: 2

In [250]:
res=df.loc[(df['Month'] == 6) & (df['WeekDay']==5),['Start Station']].mode() #both
res=str(res.iloc[0]['Start Station'])
print('most common Start Station: {}'.format(res))

most common Start Station: Lake Shore Dr & North Blvd

In [251]:
res=df.loc[(df['Month'] == 6) & (df['WeekDay']==5),['End Station']].mode() #both
res=str(res.iloc[0]['End Station'])
print('most common End Station: {}'.format(res))

most common End Station: Lake Shore Dr & North Blvd

In [252]:
res=df.loc[(df['Month'] == 6) & (df['WeekDay']==5),['SE Station']].mode() #both
res2=df.loc[(df['Month'] == 6) & (df['WeekDay']==5),['SE Station']].count()
res=str(res.iloc[0]['SE Station'])
res2=int(res2.iloc[0])
print('most common End most common trip from start to end: {} and counts {}'.format(res,res2))

most common End most common trip from start to end: Lake Shore Dr & North Blvd and Streeter Dr & Grand Ave and counts 7684

In [253]:
res=df.loc[(df['Month'] == 6) & (df['WeekDay']==5),['Trip Duration']].sum() #both
res2=df.loc[(df['Month'] == 6) & (df['WeekDay']==5),['Trip Duration']].count()
res=str(res.iloc[0])
res2=int(res2.iloc[0])
print('Total Travel time in sec: {} and counts {}'.format(res,res2))

Total Travel time in sec: 6458272 and counts 7684

In [254]:
res=df.loc[(df['Month'] == 6) & (df['WeekDay']==5),['Trip Duration']].mean() #both
res2=df.loc[(df['Month'] == 6) & (df['WeekDay']==5),['Trip Duration']].count()
res=str(res.iloc[0])
res2=int(res2.iloc[0])
print('Total Travel time in sec: {} and counts {}'.format(res,res2))

Total Travel time in sec: 840.4830817282665 and counts 7684

In [255]:
res=df.loc[(df['Month'] == 6) & (df['WeekDay']==5),['User Type']].value_counts() #both
#res=str(res.iloc[0])
print('Type of Users: {} \ncounts {}'.format(res,res2))

Type of Users: User Type
Subscriber    7681
Customer         3
dtype: int64
counts 7684

In [256]:
res=df.loc[(df['Month'] == 6) & (df['WeekDay']==5),['Gender']].value_counts() #both
#res=str(res.iloc[0])
print('User\'s Gender: {} \ncounts {}'.format(res,res2))

User's Gender: Gender
Male      5236
Female    2448
dtype: int64
counts 7684

In [258]:
resMin=df.loc[(df['Month'] == 6)&(df['WeekDay']==5),['Birth Year']].min() #both
resMax=df.loc[(df['Month'] == 6)&(df['WeekDay']==5),['Birth Year']].max() #both
res=df.loc[(df['Month'] == 6)&(df['WeekDay']==5),['Birth Year']].mode() #both
res2=df.loc[(df['Month'] == 6)&(df['WeekDay']==5),['Birth Year']].count()
resMin=resMin.iloc[0]
resMax=resMax.iloc[0]
res=res.iloc[0]['Birth Year']
res2=res2.iloc[0]
print('earliest Year: {} , most recent year: {} , most common year: {} and counts {}'.format(resMin,resMax,res,res2))

earliest Year: 1899.0 , most recent year: 2001.0 , most common year: 1992.0 and counts 7684

In [280]:
res=df.loc[(df['WeekDay'] ==2)]
res.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Month,WeekDay,Hour,SE Station
2,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,2,8,May St & Taylor St and Wood St & Taylor St
10,2017-02-15 07:09:55,2017-02-15 07:14:56,301,Broadway & Barry Ave,Wilton Ave & Belmont Ave,Subscriber,Female,1993.0,2,2,7,Broadway & Barry Ave and Wilton Ave & Belmont Ave
16,2017-05-03 13:20:38,2017-05-03 13:31:13,635,Ada St & Washington Blvd,Daley Center Plaza,Subscriber,Male,1967.0,5,2,13,Ada St & Washington Blvd and Daley Center Plaza
24,2017-05-03 09:41:11,2017-05-03 09:49:10,479,Wabash Ave & Roosevelt Rd,Halsted St & Roosevelt Rd,Subscriber,Male,1992.0,5,2,9,Wabash Ave & Roosevelt Rd and Halsted St & Roo...
49,2017-02-08 07:13:31,2017-02-08 07:16:17,166,Pine Grove Ave & Irving Park Rd,Clarendon Ave & Gordon Ter,Subscriber,Male,1986.0,2,2,7,Pine Grove Ave & Irving Park Rd and Clarendon ...

In [284]:
df=pd.read_csv('washington.csv')
df1=pd.read_csv('chicago.csv')
df2=pd.read_csv('new_york_city.csv')
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber

In [285]:
df1.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [287]:
df2.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0

In [292]:
df.dtypes

Unnamed: 0                int64
Start Time       datetime64[ns]
End Time                 object
Trip Duration           float64
Start Station            object
End Station              object
User Type                object
Month                     int64
WeekDay                   int64
Hour                      int64
SE Station               object
dtype: object

In [293]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Month,WeekDay,Hour,SE Station
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,6,2,8,14th & Belmont St NW and 15th & K St NW
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,3,5,10,Yuma St & Tenley Circle NW and Connecticut Ave...
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,5,1,1,17th St & Massachusetts Ave NW and 5th & K St NW
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,4,6,7,Constitution Ave & 2nd St NW/DOL and M St & Pe...
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,6,5,8,Henry Bacon Dr & Lincoln Memorial Circle NW an...

In [17]:
df[df['Month']==1]

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Month,WeekDay,Hour,SE Station
2,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,2,8,May St & Taylor St and Wood St & Taylor St
4,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,1,14,Clark St & Randolph St and Desplaines St & Jac...
11,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0,1,6,15,Southport Ave & Wellington Ave and Clark St & ...
12,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0,1,6,16,Green St & Madison St and Ada St & Washington ...
39,2017-01-26 19:45:41,2017-01-26 19:59:31,830,McClurg Ct & Erie St,Clinton St & Washington Blvd,Subscriber,Male,1977.0,1,3,19,McClurg Ct & Erie St and Clinton St & Washingt...
...,...,...,...,...,...,...,...,...,...,...,...,...
299946,2017-01-21 21:29:40,2017-01-21 21:44:59,919,Dayton St & North Ave,Leavitt St & North Ave,Subscriber,Male,1986.0,1,5,21,Dayton St & North Ave and Leavitt St & North Ave
299958,2017-01-31 11:44:34,2017-01-31 11:52:17,463,Indiana Ave & Roosevelt Rd,Michigan Ave & Madison St,Subscriber,Female,1966.0,1,1,11,Indiana Ave & Roosevelt Rd and Michigan Ave & ...
299972,2017-01-17 08:42:37,2017-01-17 08:53:20,643,Racine Ave & Wrightwood Ave,Clark St & Wellington Ave,Subscriber,Female,1978.0,1,1,8,Racine Ave & Wrightwood Ave and Clark St & Wel...
299975,2017-01-18 11:28:36,2017-01-18 11:31:14,158,Dayton St & North Ave,Sheffield Ave & Kingsbury St,Subscriber,Male,1958.0,1,2,11,Dayton St & North Ave and Sheffield Ave & King...
299995,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0,1,5,13,Orleans St & Elm St (*) and Sheffield Ave & We...